<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
         <div id="contentdiv" class="contcustom">
            <span class="fa fa-spinner bigicon"></span>
             <h2>Login</h2>
             <div>
                 <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "login-modal-form" })do |f| %>
                   <%= f.error_notification %>
                   <%= f.email_field :email, :id => "username", :placeholder => "username", :onkeypress => "check_values();" %>
                   <%= f.password_field :password, :id => "password", :placeholder => "password", :onkeypress => "check_values();"%>
                   <%= button_tag(id: "button1", type: 'submit', class: "btn btn-default wide hidden") do %>
                      <span class="fa fa-check med"></span>
                   <% end %>
                   <span id="lock1" class="fa fa-lock medhidden redborder"></span>

                     <!-- Remeber me button -->
                     <%- if devise_mapping.rememberable? %>
                      <div class="checkbox">
                        <label>
                          <%= f.check_box :remember_me, :style=> "width:auto", :inline_label => true %>Remember me
                        </label>
                      </div>
                    <% end -%>

                <% end %>
                <br>
                <div class="btn-group" role="group" style="width:100%; display:flex">
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-default btn-sm redborder", :style => "width:50%"%><br />
                <% end -%>

                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot password?", new_password_path(resource_name), :class => "btn btn-default btn-sm redborder", :style => "width:50%" %><br />
                <% end -%>
               </div>
             </div>
         </div>
       </div>
    </div>
  </div>
</div>
</div>


<script>
//--Login Modal Checks that something has been entered into the username and password fields
function check_values() {
  if ($("#username").val().length != 0 && $("#password").val().length != 0) {
      $("#button1").removeClass("hidden").animate({ left: '250px' });
      $("#lock1").addClass("hidden").animate({ left: '250px' });
  }
};
</script>
