
<!-- This is the center image/logo on homepage -->
<header class="image-bg-fluid-height">
    <%= image_tag("logo.png", :class=>"img-responsive img-center") %>
</header>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div id="about" class="col-lg-12" style="height:500px;">
                <h1 class="section-heading">Bicycles for the Homeless</h1>
                <p class="lead section-lead">Here at Homeless Cycles our number one priority is the redistribution of bicycles to those of the community that need them the most.</p>
                <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
            </div>
        </div>
    </div>
</section>
