
<div class="image-bg-fixed-height ">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                    <fieldset>
                        <legend class="text-center header">5K Race Details</legend>
                        <div style="font-size:16px;">

                        <p>
                          Come join us in a fun run to raise money for bikes for our program to provide transportation to those in need and to bring happiness to children that do not have the means for a bike.  You can give a donation as an entrance fee at the event or you can contact our coordinator, John, at 862-453-8920; who will get you on a sponsor sheet where we already have commitments from local businesses per runner.
                        </p>
                        <p>

                         The run will take place on January 7, 2016.  By logging in you will be registered for the race and can access the route map.  We will gather at the starting point A at 8 am and the race will start at 8:40.  This is a 5K run and we will have volunteers at water stations along the route. The local Fire and Rescue unit has volunteered to help in case of a medical emergency, but this is just a FUN run and no need to hurt ourselves.
                        </p>
                        <p>
                          Come on out and meet your neighbors while supporting community unity.  Bring the family. See you there.
                        </p>
                      </div>
                    </fieldset>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Where Is The Race?</div>
                    <div class="panel-body text-center">
                        <div>
                        Wannamaker Park <br/>
                        8888 University Blvd,
                        <br />
                        North Charleston, SC 29406<br />
                        service@company.com<br />
                        </div>
                        <hr />
                          <div id="map-canvas" style="min-height:300px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Google Maps Javascript API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHRoCyncUb07_TziarFs9ekM1eGqkOQ8M">
</script>

<!-- Page specific functions to build race map -->
<script type="text/javascript">
  var start = {lat: 32.977113, lng: -80.055752}; //"8888 University Blvd, North Charleston, SC 29406";
  var finish = {lat: 32.982704, lng: -80.071450}; //"9200 University Blvd, North Charleston, SC 29406";

  //-- Called when document is ready
  function initMap()
  {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers : true});
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 7,
      center: start
    });
    directionsDisplay.setMap(map);
    calculateAndDisplayRoute(directionsService, directionsDisplay);

    // --Create Custom Markers for start and finish points
    var icon = "https://chart.googleapis.com/chart?chst=d_map_spin&chld=.85|0|33cc33|9|b|Start";
    var marker = new google.maps.Marker({
      title: "Start",
      icon: icon,
      position: start,
      map: map

    });

    var icon2 = "https://chart.googleapis.com/chart?chst=d_map_spin&chld=.85|0|ff0000|9|b|Finish";
    var marker = new google.maps.Marker({
      title: "Finish",
      icon: icon2,
      position: finish,
      map: map

    });
  }

  function calculateAndDisplayRoute(directionsService, directionsDisplay)
  {
    directionsService.route({
      origin: start,
      destination: finish,
      travelMode: google.maps.TravelMode.WALKING
    }, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);


      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
    }

    $(document).ready(function(){
      initMap();
    })
</script>

<style>
    .header {
        background-color: #F5F5F5;
        color: #4d4d4d;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
</style>
