<div class="image-bg-fixed-height ">


<div class="centered-form" >
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" style="margin-bottom:50px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Edit Your Information</h3>
            </div>
            <div class="panel-body">
              <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                    <div class="form-group">
                      <%= f.email_field :email, class: "form-control input-sm",  placeholder: "Email" %>
                    </div>

                     <div class="form-group">
                       <%= f.text_field :name, class: "form-control input-sm", placeholder: "Name" %>
                     </div>
                     <div class="form-group">
                       <%= f.telephone_field :phone, class: "form-control input-sm", placeholder: "Phone" %>
                     </div>

                     <div class="form-group">
                       <%= f.number_field :age, class: "form-control input-sm", placeholder: "Age" %>
                     </div>

                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>

                    <div class="form-group">
                      <%= f.password_field :current_password, autocomplete: "off", label: "Current Password" %>
                      <i>(we need your current password to confirm your changes)</i><br />
                    </div>
                    <%= f.submit "Update", :class => "btn btn-primary"%>
                    <% end %>
                    <br>
                    <%= button_to "Cancel My Account", registration_path(resource_name), :class => "btn btn-danger", data: { confirm: "Selecting ok will delete your account from our servers forever... Are you sure?" }, method: :delete %></p>


                    <%= link_to "Back", :back %>

            </div>
        </div>
    </div>
</div>
</div>
<style>
.centered-form {
  padding-top:20px;
    /*margin-top: 90px;
    margin-bottom: 90px;*/
}

.centered-form .panel {
    background: rgba(255, 255, 255);
}
</style>
