<div class="image-bg-fixed-height ">


<div class="centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Please Register</h3>
            </div>
            <div class="panel-body">
              <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                    <div class="form-group">
                      <%= f.email_field :email, class: "form-control input-sm",  placeholder: "Email" %>
                    </div>
                     <div class="form-group">
                       <%= f.text_field :name, class: "form-control input-sm", placeholder: "Name" %>
                     </div>
                     <div class="form-group">
                       <%= f.telephone_field :phone, class: "form-control input-sm", placeholder: "Phone" %>
                     </div>

                     <div class="form-group">
                       <%= f.number_field :age %>
                     </div>

                    <div class="form-group">
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>

                    <%= f.submit "Sign up", :class => "btn btn-primary"%>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
<style>
.centered-form {
  padding-top:20px;
    /*margin-top: 90px;
    margin-bottom: 90px;*/
}

.centered-form .panel {
    background: rgba(255, 255, 255);
}
</style>
