

<div class="image-bg-fixed-height ">


<div class="centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Reset My Password</h3>
            </div>
            <div class="panel-body">
              <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>
                    <div class="form-group">
                      <%= f.email_field :email, class: "form-control input-sm",  placeholder: "Email" %>
                    </div>

                    <%= f.submit "Send me reset password instructions", :class=>"btn btn-primary"%>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
<style>
.centered-form {
  padding-top:20px;
    /*margin-top: 90px;
    margin-bottom: 90px;*/
}

.centered-form .panel {
    background: rgba(255, 255, 255);
}
</style>
