<div class="image-bg-fixed-height ">


<div class="centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4" style="margin-bottom:50px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Login</h3>
            </div>
            <div class="panel-body">
              <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                    <div class="form-group">
                      <%= f.email_field :email, class: "form-control input-sm",  placeholder: "Email" %>
                    </div>
                    <div class="form-group">
                      <%= f.password_field :password, :id => "password", :placeholder => "password", :onkeypress => "check_values();"%>
                    </div>
                    <%- if devise_mapping.rememberable? %>
                     <div class="checkbox">
                       <label>
                         <%= f.check_box :remember_me, :style=> "width:auto", :inline_label => true %>
                       </label>
                     </div>
                    <% end -%>
                    <%= f.submit "Login", :class => "btn btn-primary"%>
                <% end %>
                <hr>
                <br>
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-success", :style =>"width:100%;"%>
                <% end -%>
                <br>
                <br>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot password?", new_password_path(resource_name), :class => "btn btn-success", :style =>"width:100%;"%>
                <% end -%>
            </div>
        </div>
    </div>
</div>
</div>




<style>
.centered-form {
  padding-top:20px;
    /*margin-top: 90px;
    margin-bottom: 90px;*/
}

.centered-form .panel {
    background: rgba(255, 255, 255);
}
</style>
