<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">
      <span class="glyphicon glyphicon-remove"></span></a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
