<!DOCTYPE html>
<html>
<head>
  <title>Homeless Cycles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Custom CSS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
  <%= csrf_meta_tags %>

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to 'Homeless Cycles', root_path, :class => 'navbar-brand' %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <%= link_to 'About', root_path + "#about", :class => 'navbar-link' %>
                  </li>

                  <!-- Only show 5k Race button if logged in -->
                  <%- if user_signed_in? %>
                    <li>
                      <%= link_to '5K Race', race_5k_path, :class => 'navbar-link' %>
                    </li>
                  <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              <!-- Handles Devise Login -->
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'  %>
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </li>
              <% else %>
               <li>
                 <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
               </li>
                <li>
                  <%= link_to 'Login', "#loginModal", :remote => true, 'data-toggle' => "modal", 'data-target' => "#loginModal"%>
                </li>
              <% end %>
                </ul>
              <!-- *************************** -->
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Yield will render different views depending on the route -->
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>

</body>
<footer class="footer navbar-fixed-bottom" style="background-color:white; padding-top:10px;">
     <div class="container">
       <p class="text-muted" style="text-align:center">
       Copyright ©2015 Charleston Souther University All rights reserved.
     </p>
     </div>
</footer>

<%= render "static_pages/login_modal" %>
</html>
